 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.columnhometxt {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 100px;
  padding-left: 100px;
}
.columnmid {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}
.column25 {
  float: left;
  width: 25%;
  padding: 5px;
}
.column50 {
  float: left;
  width: 50%;
  padding: 5px;
}
.column75 {
  float: left;
  width: 75%;
  padding: 5px;
}
.column66 {
  float: left;
  width: 66.66%;
  padding: 5px;
}


 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
